body {
    background-color: var(--black);
}

.gradient {
    background-image: var(--black-gradient);
}

.uppergradient {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

